In [3]:
import numpy as np
import pandas as pd

In [8]:
## define directory
data_directory = 'data/'
genera_survivail_information_path = 'TCGA-BRCA.survival.tsv'
detail_survivail_information_path = 'survival-BRCA_survival.txt'
detail_phenotype_information_path = 'TCGA-BRCA.GDC_phenotype.tsv'

## load all necessary data
general_survival_information = pd.read_csv(data_directory + genera_survivail_information_path, sep='\t', header=0)
detail_survivail_information = pd.read_csv(data_directory + detail_survivail_information_path, sep='\t', header=0)

In [9]:
general_survival_information

                sample  OS      _PATIENT  OS.time
0     TCGA-C8-A275-01A   0  TCGA-C8-A275        1
1     TCGA-BH-A1F8-11B   1  TCGA-BH-A1F8        1
2     TCGA-BH-A1F8-01A   1  TCGA-BH-A1F8        1
3     TCGA-AC-A7VC-01A   0  TCGA-AC-A7VC        1
4     TCGA-AN-A0AM-01A   0  TCGA-AN-A0AM        5
...                ...  ..           ...      ...
1255  TCGA-B6-A0RE-01A   0  TCGA-B6-A0RE     7777
1256  TCGA-B6-A0RN-01A   0  TCGA-B6-A0RN     8008
1257  TCGA-B6-A0IA-01A   0  TCGA-B6-A0IA     8391
1258  TCGA-B6-A0I5-01A   0  TCGA-B6-A0I5     8556
1259  TCGA-B6-A0RU-01A   0  TCGA-B6-A0RU     8605

[1260 rows x 4 columns]

In [11]:
len(set(detail_survivail_information['_PATIENT']))

1097

In [28]:
## check correctness of the duplicated information
## check on the general one
patient_id = general_survival_information['_PATIENT']
duplicated_survival_information = general_survival_information[patient_id.isin(patient_id[patient_id.duplicated()])]

print('General cases:')
duplicated_patient_list = set(duplicated_survival_information['_PATIENT'])
all_correct = True
error_patient_list = []
for patient in duplicated_patient_list:
    current_information = duplicated_survival_information.loc[duplicated_survival_information['_PATIENT'].isin([patient]),]
    if not np.all(current_information['OS.time'].eq(current_information['OS.time'].to_list()[0])):
        error_patient_list.append(patient)
        all_correct = False

if all_correct:
    print('Correct!')
else:
    print('Error! Patient list:')
    print(error_patient_list)
        
## check on the detailed one
patient_id = detail_survivail_information['_PATIENT']
duplicated_survival_information = detail_survivail_information[patient_id.isin(patient_id[patient_id.duplicated()])]

print('Detailed cases:')
duplicated_patient_list = set(duplicated_survival_information['_PATIENT'])
all_correct = True
for patient in duplicated_patient_list:
    current_information = duplicated_survival_information.loc[duplicated_survival_information['_PATIENT'].isin([patient]),]
    if not np.all(current_information['OS.time'].eq(current_information['OS.time'].to_list()[0])):
        error_patient_list.append(patient)
        all_correct = False
        
if all_correct:
    print('Correct!')
else:
    print('Error! Patient list:')
    print(error_patient_list)

General cases:
Correct!
Detailed cases:
Correct!

In [25]:
duplicated_survival_information

,sample,_PATIENT,OS,OS.time,DSS,DSS.time,DFI,DFI.time,PFI,PFI.time,Redaction
125,TCGA-A7-A0CE-01,TCGA-A7-A0CE,0,1074.0,0.0,1074.0,0.0,1074.0,0,1074.0,NaN
126,TCGA-A7-A0CE-11,TCGA-A7-A0CE,0,1074.0,0.0,1074.0,0.0,1074.0,0,1074.0,NaN
128,TCGA-A7-A0CH-01,TCGA-A7-A0CH,0,1079.0,0.0,1079.0,0.0,1079.0,0,1079.0,NaN
129,TCGA-A7-A0CH-11,TCGA-A7-A0CH,0,1079.0,0.0,1079.0,0.0,1079.0,0,1079.0,NaN
131,TCGA-A7-A0D9-01,TCGA-A7-A0D9,0,1139.0,0.0,1139.0,0.0,1139.0,0,1139.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1055,TCGA-E9-A1RI-11,TCGA-E9-A1RI,0,1449.0,0.0,1449.0,0.0,1449.0,0,1449.0,NaN
1130,TCGA-GI-A2C8-01,TCGA-GI-A2C8,0,225.0,0.0,225.0,0.0,225.0,0,225.0,NaN
1131,TCGA-GI-A2C8-11,TCGA-GI-A2C8,0,225.0,0.0,225.0,0.0,225.0,0,225.0,NaN
1132,TCGA-GI-A2C9-01,TCGA-GI-A2C9,0,3342.0,0.0,3342.0,0.0,3342.0,0,3342.0,NaN
1133,TCGA-GI-A2C9-11,TCGA-GI-A2C9,0,3342.0,0.0,3342.0,0.0,3342.0,0,3342.0,NaN

In [ ]:
df.drop_duplicates(subset=['brand'])